[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/space-wizards/RobustToolbox.git
	branch = master

[submodule "FireStation"]
	path = FireStation
	url = git@github.com:darkeneez/FirestationSecret.git
 	branch = master
